body {
  text-align: center;
}

table {
  width: 100%;
  border: 1px solid;
  border-collapse: collapse;
}

th, td {
  border: 1px solid;
}

.navigation {
  padding: 0;
 }

.navigation li{
  display: inline-block;
  padding: 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}