

table {
  width: 100%;
  border: 1px solid;
  border-collapse: collapse;
}

th, td {
  border: 1px solid;
}


fieldset{
  display: block;
  text-align: center;
}

div.box {
  width: 240px;
}

div.table {
  width: 1000px;
}

.navigation {
  text-align: center;
}

.navigation li {
  display: inline-block;
  padding: 20px;
}