body {
  text-align: center;
}

table {
  width: 100%;
  border: 1px solid;
  border-collapse: collapse;
}

th, td {
  border: 1px solid;
}


div.box {
  width: 240px;
  text-align: center;
}

div.table {
  width: 1000px;
  text-align: center;
}


.navigation {
  text-align: center;
}

.navigation li {
  display: inline-block;
  padding: 20px;
}